@import "../scss/vars";

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: $main-font;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: $dark;

    img {
        width: 100%;
        object-fit: cover;
    }
}