@import "../scss/vars";

.write {
  padding: 50px 0 0 0;


  &__form {
    width: 70%;
    margin: 0 auto;
  }

  &__form-group {
    display: flex;
    flex-wrap:  wrap;
    margin-bottom: 20px;
  }

  &__file-label {
    width: 100%;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;

    svg {
      margin-right: 20px;
      fill: $primary;
      cursor: pointer;
    }
  
  }

  &__file-input {
    display: none;
  }

  &__input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid transparentize($color: $dark, $amount: 0.7);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    color: $dark;

    &:focus,
    &:focus-visible {
      outline: none;
      border: 1px solid $dark;
    }
  }
  &__textarea {
    min-height: 350px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    resize: none;
  }

  img {
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  &__publish-btn {
    padding: 10px 20px;
    border: none;
    background-color: $font-color;
    border-radius: 4px;
    color: $light;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      background-color: $primary;
    }
  }
}
